.landingpage {
    display: grid;
    gap: 1rem 2rem;
 

}


.landingpage h1 {
    grid-column: span 3;
    text-align: center;
    font-family: $header-font;
    color: $font-color

    
}



.color-box {
    grid-column: span 1;
}

.load-box {
    grid-column: span 1;
}

.design-box {
    grid-column: span 1;
}

.color-box, 
.load-box, 
.design-box {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    background-color: $tech-box-color;
    border-radius: 10px;

    a {
        text-decoration: none;
        color: $font-color;
        font-family: $header-font;
    }
    
    a:hover {
        border-bottom: $nav-link-hover-color;
    }
}

.facebook-image {
    height: 50em;
    width: 65em;
    border-radius: 1em;
}

.instagram-image {
    height: 50em;
    width: 65em;
    border-radius: 1em;
}

.twitter-image {
    height: 50em;
    width: 65em;
    border-radius: 1em;
}

@media screen and (max-width: 768px) {
    .facebook-image,
    .instagram-image,
    .twitter-image {
        width: 100%;
        height: auto;
    }

    .landingpage h1 {
        grid-column: span 3;
    }

    .color-box,
    .load-box,
    .design-box {
        grid-column: span 3; 
        width: 50%;
        justify-content: center;
        margin: 0 auto;
    }
}


// Load analysis

.load-sheet {
    width: 80%;
    height: 18em;
}

.image-container {
    display: flex;
    gap: 10px;
}

.image-container a {
    display: inline-block; 
    width: 150px; 
    height: 150px; 
    transition: border-color 0.3s ease; 
    position: relative; 
}

.image-container a:hover {
    border: $nav-link-hover-color;
    box-sizing: border-box;
}

.image-container img {
    width: 100%;
    height: 100%;
    display: block;
}


@media screen and (max-width: 768px) {
    .image-container a {
        width: 150px;
        height: 150px;
    }
}