* 
{
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

body {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    width: 64em;
    margin: 0 auto;
}

.header, .footer {
    flex: 0 0 auto;
}


