.footer {
    display: flex;
    justify-content: space-between;
    border-top: $footer-border-color;
    padding: 0.5em;
    margin-top: 5em;
}


.footer a {
    color: $link-font-color;
}

.footer .social {
    font-size: 2rem;
}

.social a {
    text-decoration: none;
}