.footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #222;
}

.footer a {
    color: $link-font-color;
}

.footer .social {
    font-size: 2rem;
}

.social a {
    text-decoration: none;
}