.header, .site-header {
    display: flex;
    justify-content: space-between;

    a {
        color: $font-color;
    }
}

.title, .logo {
    padding: 3em 3em 3em 0;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;

    }
    
    .logo {
        max-width: 30%;
    }
}

.nav {
    a {
        text-decoration: none;
        color: $font-color;
        font-family: $header-font;
    }

    a:hover {
        border-bottom: 4px solid rgb(30, 71, 65);
    }

    .active a {
        border-bottom: 4px solid rgb(10, 197, 234);
    }
}