.header, .site-header {
    display: flex;
    justify-content: space-between;

    a {
        color: $font-color;
    }
}


.logo {
    padding: 3em;
    
    a {
        text-decoration: none;
    }
}

.title {
    padding: 2em;
}


@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;

    }
    
    .logo {
        max-width: 30%;
    }
}

.nav {
    a {
        text-decoration: none;
        color: $font-color;
        font-family: $header-font;
        position: relative;
        transition: color 0.3s, border-bottom 0.3s;
    }

    a:hover {
        border-bottom: 2px solid $nav-link-hover-color; 
    }

    .active a {
        border-bottom: 2px solid $nav-link-active-color;
    }
}