@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Merriweather&display=swap');
$header-font: 'Lato', sans-serif;
$main-font: 'Merriweather', serif;

$font-color: #6F6F96;
$link-font-color: #A4AED6;
$font-alternative-color: #fff;
$accent-color: #574F2A;
$background-color: #2A2A56;
$background-alternative-color: #e0fbfc;