@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Merriweather&display=swap');
$header-font: 'Lato', sans-serif;
$main-font: 'Merriweather', serif;
$font-color: #333;
$link-font-color: #787878;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #3d5a80;
$background-alternative-color: #e0fbfc;