@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Merriweather&display=swap');
$header-font: 'Lato', sans-serif;
$main-font: 'Merriweather', serif;
$font-color: #333;
$link-font-color: #867656;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #b6c6dc;
$background-alternative-color: #e0fbfc;

$tech-box-color: #3d7480;
$tech-menu-color: #3d7480;

$footer-border-color: 2px solid #333;

$nav-link-hover-color: 4px solid #1e4741;
$nav-link-active-color: 4px solid #0ac5ea;